html, body, aside {
	display: block;
	margin: 0;
	padding: 0;
}
body {
	overflow: hidden;
	padding: 40px;
	background-attachment: fixed;
	background-position: 50% 0;
	background-size: cover;
	-webkit-text-size-adjust: none;
}
a {
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}


.bg-orange {
	background: url(../images/bg-orange.jpg) repeat;
	background-size: cover;
}
.bg-yellow {
	background: url(../images/flower1.jpg) repeat;
	background-size: cover;
}
.bg-blue {
	background: url(../images/bg-blue.jpg) repeat;
	background-size: cover;
}
.bg-purple {
	background: url(../images/bg-purple.jpg) repeat;
	background-size: cover;
}
.bg-black {
	background: url(../images/aperture-vintage.jpg) repeat;
	background-size: cover;
}
.body {
	max-width: 1120px;
	margin: 0 auto;
}
@media screen and (max-width: 1000px) {
	body {
		padding: 20px;
	}
}
@media screen and (max-width: 767px) {
	body {
		padding: 10px;
	}
}